@font-face {
  font-family: myFirstFont;
  src: url('../fonts/GE-Flow-Regular.otf');
}
@font-face {
  font-family: secoundFont;
  src: url('../fonts/JF-Flat-Regular.ttf');
}



/* start nav bar */
body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  position: relative;
overflow-x: hidden; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible; }

p {
  color: #b3b3b3;
  font-weight: 300; 
  font-family: 'secoundFont' !important;
  line-height: 2;
font-size: 15px ;}

h1,h2,h3,h4,h5,h6{
  font-family:'myFirstFont' !important;
}
p,button{
font-family: 'secoundFont' !important;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  font-family: 'secoundFont' !important;
}
  a, a:hover {
    text-decoration: none !important; }
.card{
  border: none;
}
.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; }
  .hero_of_about {
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden; }
.site-navbar-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0; }
  .site-navbar-wrap a {
    color: #707070; }
  .site-navbar-wrap .site-navbar-top {
    font-size: 0.8rem; }

    .site-menu-toggle  {
      color: #f8f5f5 !important; }
.site-navbar-top {
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  height: 44px; }

.site-navbar {
  margin-bottom: 0px;
  width: 100%; }
  .site-navbar a{
    font-family: 'myFirstFont', sans-serif !important;

  }
  .site-navbar .btn-outline-more{
    color: white;
    border-color: #0AB896;
    border-radius: 22px;
    font-family: 'myFirstFont', sans-serif !important;
    width: 133px;
  }
  .site-navbar .btn-outline-more:hover{
 background-color: #0AB896;
 color: white;
 transition: all 0.3s ease;
 -webkit-transition: all 0.3s ease;
  }
  .site-navbar a{
  text-align: center;
  padding: 0px;

  }
  .site-navbar .site-logo {
    font-weight: 200;
    line-height: 0;
    top: -7px;
    position: relative; }
    .site-navbar .site-logo a {
      font-weight: 200;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block;
      font-weight: 500; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 5px; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 20px 6px;
        color: #f0f0f0;
        font-size: 15px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a.active {
          color: #fff; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #fff; }
      .site-navbar .site-navigation .site-menu > li:last-child {
        padding-right: 0; }
        .site-navbar .site-navigation .site-menu > li:last-child > a {
          padding-right: 0; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-left: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:after {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          left: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s;
        border-radius: 4px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {

          position: absolute;
        left: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          font-size: 14px;
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
            color: #007bff; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #fff !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li:first-child > a {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li:last-child > a {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #ebeef0;
              color: #212529; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #ebeef0;
            color: #212529; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #fff; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #dee2e6; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a.active, .site-mobile-menu .site-nav-wrap a:hover {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
               
.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper + .site-blocks-cover {
    margin-top: 96px; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .sticky-wrapper .site-navbar ul li.active a {
      color: #fff; }
  .sticky-wrapper.is-sticky .site-navbar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff; }
    .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 5px; }
      .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li:last-child {
        padding-right: 0; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li:last-child > a {
          padding-right: 0; }
      .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li.has-children > a {
        padding-right: 20px; }
      .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 10px;
        color: #2D3E50;
        font-size: 15px; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > button {
          background-color: #0AB896;
          color: white;
        }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a:hover {
        color:  #179168  !important; }
        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a.active {
          color:  #179168  !important; }
      .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li.active a {
        color: #fff; }

        .sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu-toggle  {
          color: #707070 !important; }
.hero-items{
  position: relative;
  top: 30%;
}
.hero_of_about .hero-items .hero_title{
  font-size: 50px;
  color: white;
  padding-bottom: 10px;
}
.hero .hero-items .hero_title{
  font-size: 90px;
  color: white;
  padding-bottom: 10px;
}
.hero .hero-items .hero_sub_title{
  font-size: 30px;
  color: white;

}
.hero_of_about .hero-items .hero_sub_title{
  font-size: 25px;
  color: white;

}
.hero_of_about .hero-items{
  position: relative;
  top: 50%;
}

.hero_of_about .hero-items .hero_sub_title{
  color: white;
  font-size: 23px;
  padding-bottom: 10px;
}
.hero-items .hero_pargraph{
  width: 54%;
    display: block;
    margin: 0 auto;
    color: white;
    padding-bottom: 30px;
    padding-top: 15px;
    line-height: 2;
}
.hero-items .btn-of-share-us{
  width: 200px;
  border-radius: 22px;
  background: #0AB896;
  color: white;
  border: none;
  height: 50px;
}

/* end nav bar */
/* start service */
.service  h2::after{

  content: '';
  height: 3px;
  background: #08CC7F;
  width: 63px;
  display: block;
  text-align: 3;

  margin: 0 auto;
  padding-top: 10;
  margin-top: 10px;
}

.service .card-body{
  padding: 0px !important;
}
.service .card-body img{
 height: 80px;
}
.service .card{
  height: 161px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.service .card:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.service .card-title{
  font-size: 19px;
}
.about{
  padding-top: 50px;
}

.about .family-title{
  font-size: 18px;
}
.about p { 
  color: #2D3E50;
}
.about .family-paragraph{
  font-size: 13px;
}
.about .family-number{
  font-size: 33px;
  color: #0AB896;
  font-weight: bold;
}
.social-icon a span:hover{
  color: #0AB896;
}
/* end service */
/* start news */
.news{
  background-color: #F2F5FA;
}
.news .card{
  overflow: hidden;
  border-radius: 10px;
}
.news .card-body{
  padding-top: 0px!important;

}
.news h2::after{

    content: '';
    height: 3px;
    background: #08CC7F;
    width: 63px;
    display: block;
    text-align: 3;

    margin: 0 auto;
    padding-top: 10;
    margin-top: 10px;
}
.news .card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.news .card:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news .date-of-card{
  position: relative;
  z-index: 10;
  background-color: #0AB896;
  width: fit-content;
  color: white;
  left: 15px;
  top: -46px;
  font-family: 'secoundFont' !important;
  border-radius: 5px;
  padding: 6px 15px;

}
.news .card-paragraph{
  font-size: 19px;
  color: black;
  font-family: 'myFirstFont' !important;

}
.news .card{
  margin-bottom: 30px;
}
.news .btn-outline-more{
  color: #0AB896;
  border-color: #0AB896;
  width: 161px;
  border-radius: 22px;
  margin-bottom: 30px;
  margin-top: 30px;

}
.news .card-text.text-muted{
  font-size: 14px;
  line-height: normal;
}
.news.news_bg{
  background-color: unset;
  margin-bottom: 50px;
}
.news .pagination{
  padding-right: 0px;
}
.news .pagination li{
  margin-right: 15px;
}
.news .pagination-lg .page-item .page-link{
  border-radius: 7px;
  color: #000;

}
.news .pagination-lg .page-item .page-link{
  border-radius: 7px;
  color: #000;

}
.news .pagination-lg .page-item .page-link:hover{
  background-color: #0AB896;
  border: #0AB896;
color: white;
}
.news .page-item.active .page-link{
  background-color: #0AB896;
  border: #0AB896;
  color: white;
}
/* end news */
/* start project  */
.project_of_Gameya{
  background: rgb(45,62,80);
  background: linear-gradient(90deg, #2D3E50  0%, #2d3e50c7  100%), url(../images/3.png);
  background-size: cover;
background-position: center center;
background-repeat: no-repeat;

  padding-top: 100px;
  padding-bottom: 100px;

}
.project_of_Gameya.project_bg{
  background: unset;
}
.project_of_Gameya h2{
  color: white;
}
.project_of_Gameya h2::after{

  content: '';
  height: 3px;
  background: #08CC7F;
  width: 63px;
  display: block;
  text-align: 3;

  margin: 0 auto;
  padding-top: 10;
  margin-top: 10px;
}
/* .img-of-project{
  max-height: 300px;
} */
.img-of-project img{
  height: auto;
}
.project_of_Gameya img{
  padding-bottom: 50px;
  border-radius: 10px;
}
.project_of_Gameya .btn-outline-more{
  color: #0AB896;
  border-color: #0AB896;
  width: 161px;
  border-radius: 22px;
  margin-bottom: 50px;
}

.project_of_Gameya.project_bg .pagination{
  padding-right: 0px;
}
.project_of_Gameya.project_bg .pagination li{
  margin-right: 15px;
}
.project_of_Gameya.project_bg .pagination-lg .page-item .page-link{
  border-radius: 7px;
  color: #000;

}
.project_of_Gameya.project_bg .pagination-lg .page-item .page-link{
  border-radius: 7px;
  color: #000;

}
.project_of_Gameya.project_bg .pagination-lg .page-item .page-link:hover{
  background-color: #0AB896;
  border: #0AB896;
color: white;
}
.project_of_Gameya.project_bg .page-item.active .page-link{
  background-color: #0AB896;
  border: #0AB896;
  color: white;
}
/* end project */
/* start partner */
.partners{
  background-color: #F3F6FB;
  padding-bottom: 50px;
}
.partners .card{
  height: 175.55px;
}
.partners .card img{
  width: 100%;
  height: 100%;

}
.partners h2::after{

  content: '';
  height: 3px;
  background: #08CC7F;
  width: 63px;
  display: block;
  text-align: 3;

  margin: 0 auto;
  padding-top: 10;
  margin-top: 10px;
}
.partners .card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.partners .card:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* end partner */
/* start magazine */
.magazine .btn-outline-more{
  color: white;
  border-color: #0AB896;
  width: 300px;
  border-radius: 40px;
  margin-bottom: 50px;
  background-color: #0AB896;
  padding: 9px;
  font-family: 'myFirstFont', sans-serif !important;
  height: 70px;

}
/* end magazine */

/* start footer */
.footer{
  background-color: #0AB896;
}
.footer-logo{
  text-align: center;
  margin-bottom: 30px;
}
.footer-logo img{
  border-radius: 10px;
}
.footer .title_of_category_footer{
  color: white;
  padding-bottom: 35px;
}
.footer ul {
  padding-right: 0px;
}
.footer ul li{
  list-style: none;
  padding-bottom: 11px;
}
.footer ul li i{
  color: white;
  padding-left: 6px;
}
.footer ul li a{
  font-size: 14px;
  color: white;
}

.footer ul li img{
  color: white;
  padding-left: 6px;
}
.footer ul li {
  font-size: 15px;
  color: white;
}
.footer .list_of_footer li:hover{
  margin-right: 10px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  color: #2D3E50 !important;
}
.footer .list_of_footer li:hover i,
.footer .list_of_footer li:hover a{
  color: #2D3E50 !important;
  font-weight: bold;
}
/* end footer */

/* postdetails */
.img_of_post_details{
  margin-bottom: 30px;
  overflow: hidden;
}
.img_of_post_details:hover{

  overflow: hidden;
}
.img_of_post_details img{
  min-height: auto;
}

.postdetails .pagination{
  padding-right: 0px;
}
.postdetails .pagination li{
  margin-right: 15px;
}
.postdetails .pagination-lg .page-item .page-link{
  border-radius: 7px;
  color: #000;

}
.postdetails .pagination-lg .page-item .page-link{
  border-radius: 7px;
  color: #000;

}
.postdetails .pagination-lg .page-item .page-link:hover{
  background-color: #0AB896;
  border: #0AB896;
color: white;
}
.postdetails .page-item.active .page-link{
  background-color: #0AB896;
  border: #0AB896;
  color: white;
}
/* post details end */
/* start copy right */
.copy_right{
  background-color: #2D3E50;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* /end copy right */

/* Media */
@media (max-width: 768px) { 
  .footer-logo img{
    width: 100%!important;
  }
 }
 @media (max-width: 576px) { 
  .hero-items .hero_title {
    font-size: 60px;
}
.hero-items .hero_pargraph {
  width: 100%;
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
margin-bottom: 30px;

}
 }

.search_side{
  margin-top: 70px;
  margin-bottom: 70px;

}
 
.s130 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
      font-family: 'Open Sans', sans-serif !important;
  background: url("../images/Searchs_130.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 15px;
}

.s130 form {
  width: 100%;
  max-width: 790px;

}

.s130 form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  overflow: hidden;
  margin-bottom: 30px;
}

.s130 form .inner-form .input-field {
  height: 68px;
}

.s130 form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}

.s130 form .inner-form .input-field input.placeholder {
  color: #7D7D7D;
  font-size: 12px;
  font-family: 'secoundFont';
}

.s130 form .inner-form .input-field input:-moz-placeholder {
  color: #7D7D7D;
  font-size: 12px;
  font-family: 'secoundFont';

}

.s130 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #7D7D7D;
  font-size: 12px;
  font-family: 'secoundFont';

}

.s130 form .inner-form .input-field input:hover, .s130 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s130 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #ffffff;
}

.s130 form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s130 form .inner-form .input-field.first-wrap .svg-wrapper {
  min-width: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.s130 form .inner-form .input-field.first-wrap svg {
  width: 36px;
  height: 36px;
  fill: #222;
}

.s130 form .inner-form .input-field.second-wrap {
  min-width: 216px;
}

.s130 form .inner-form .input-field.second-wrap .btn-search {
  height: 85%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #0ab896;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: 300;
  margin: 0px;
  border-radius: 60px;
  margin-top: 5px;
  /* margin-right: 58px; */
  left: 5px;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:hover {
  background: #009451;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.s130 form .info {
  font-size: 15px;
  color: #ccc;
  padding-left: 26px;
  display: block;
  text-align: center;

}

.s130 .search_box{
  JUSTIFY-CONTENT: center;
  text-align: -webkit-center;}

@media screen and (max-width: 992px) {
  .s130 form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .s130 form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 10px;
  }
  .s130 form .inner-form .input-field.first-wrap svg {
    width: 26px;
    height: 26px;
    fill: #222;
  }
  .s130 form .inner-form .input-field.second-wrap {
    min-width: 100px;
  }
  .s130 form .inner-form .input-field.second-wrap .btn-search {
    font-size: 13px;
  }
}

/* photo album */
.albums_of_photo{
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #F2F5FA;
}
.albums_of_photo .card{
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
}
.albums_of_photo .card-body{
  padding-top: 0px!important;

}
.albums_of_photo h2::after{

    content: '';
    height: 3px;
    background: #08CC7F;
    width: 63px;
    display: block;
    text-align: 3;

    margin: 0 auto;
    padding-top: 10;
    margin-top: 10px;
}
.albums_of_photo .card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.albums_of_photo .card:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.albums_of_photo .date-of-card{
  position: relative;
  z-index: 10;
  background-color: #0AB896;
  width: fit-content;
  color: white;
  left: 15px;
  top: -46px;
  font-family: 'secoundFont' !important;
  border-radius: 5px;
  padding: 6px 15px;

}
.albums_of_photo .card-paragraph{
  font-size: 19px;
  color: black;
  font-family: 'myFirstFont' !important;

}
.albums_of_photo .card{
  margin-bottom: 30px;
}
.albums_of_photo .btn-outline-more{
  color: #0AB896;
  border-color: #0AB896;
  width: 161px;
  border-radius: 22px;
  margin-bottom: 30px;
  margin-top: 30px;

}
.albums_of_photo .card-text.text-muted{
  font-size: 14px;
  line-height: normal;
}

.albums_of_photo .pagination{
  padding-right: 0px;
}
.albums_of_photo .pagination li{
  margin-right: 15px;
}
.albums_of_photo .pagination-lg .page-item .page-link{
  border-radius: 7px;
  color: #000;

}
.albums_of_photo .pagination-lg .page-item .page-link{
  border-radius: 7px;
  color: #000;

}
.albums_of_photo .pagination-lg .page-item .page-link:hover{
  background-color: #0AB896;
  border: #0AB896;
color: white;
}
.albums_of_photo .page-item.active .page-link{
  background-color: #0AB896;
  border: #0AB896;
  color: white;
}

/* end album */
/* start about_us */
.about_us .about_us_details{
  color:#2D3E50 ;
}
.about_us .desc_one_of_about{
  color: #2D3E50;
  font-size: 14px;
}
.about_us .img_div_about{
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
}
.about_us{
  margin-bottom: 50px;
}
/* end about_us */
/* start what_we_see */
.what_we_see .what_we_see_title{
  color:#2D3E50 ;
}
.what_we_see .paragraph_what_we_see{
  color: #2D3E50;
  font-size: 14px;
}
.what_we_see{
  margin-bottom: 50px;
}
/* end what_we_see */
/* target start */
.target{
  margin-bottom: 50px;
}
.target .what_we_see_title{
  color:#2D3E50 ;
}
.target .paragraph_what_we_see{
  color: #2D3E50;
  font-size: 14px;
}
/* end target */
/* numbers_of_geted start */
.numbers_of_geted{
  margin-bottom: 50px;
}
.numbers_of_geted .numer_of_family{
  color: #0AB896;
  font-size: 37px;
  font-family: 'secoundFont';
}
.numbers_of_geted .title_of_number{
  font-family: 'secoundFont';
}
/* end numbers_of_geted */
/* post of details start */
.post_details .img_of_post{
  height: 450px;
  overflow: hidden;
  border-radius: 13px;
}
.post_details .desc_read_more{
  color: #2D3E50;
  font-size: 13px;
}
.post_details .desc_read_more a{
  color: #2D3E50;
}
.post_details .read_more_option{
  background-color: #F2F5FA;
  border-radius: 12px;
  max-height: 450px;
  overflow: hidden;
}
.post_details .read_more_option .col_of_img_read_more{
  padding-left: 0px;
}
.post_details .col_of_desc_of_read_more{
  padding-right: 0px;
}
.post_details .date_of_post span{
  color: #0AB896;
  font-family: 'secoundFont';
}.post_details .share_post_with_other{
  background-color: #0AB896;
  border-radius: 9px;
  padding: 21px 25px;
}
.post_details .share_post_with_other .col{
  padding-right: 0px;
  padding-left: 0px;
}
.post_details .share_post_with_other .social-icon a{
  border: 1px solid #FFFFFF ;
  border-radius: 10px;
  margin-right: 7px;
}
.post_details .share_post_with_other a{
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 3px 8px;
  margin-bottom: 10px;
}
.post_details .share_post_with_other a span{
  font-size: 24px;
  vertical-align: middle;
  color: white;

 
}
.post_details .share_post_with_other .title_of_share{
  color: white;
  font-size: 20px;
}
.post_details .desc_of_the_post{
  color: #2D3E50;
}
.post_details .keywords{
list-style: none;
display: inline-block;
padding-right: 0px;
}
.post_details span{
  font-family: 'secoundFont';

}
.post_details .keywords li{
  display: inline-block;
  padding-right: 10px;
  font-family: 'secoundFont';
  background-color: white;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.post_details .keyword_of_paragraph{
  background-color: #F2F5FA;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  padding-top: 19px;
  padding: 20px 31px;
}
.post_details .img_read_more{
width: 120px;
}
.post_details .next_post{
  list-style: none;
  padding-bottom: 20px;
}
.post_details .title_of_next_post{
  padding-right: 0px;
}
.post_details .title_of_next_post a{
  color: #2D3E50;
  font-size: 15px;
}
.post_details .next_post_arrow{
  font-size: 20px;
  padding-top: 10px;
  font-family: 'secoundFont';
  color: #0AB896;

}
.post_details .next_post_arrow a{
  color: #0AB896;
}
/* end post of details */
/* start contact_us_form */
.contact_us_form label{
  font-family: 'secoundFont';
}
.contact_us_form h3{
  font-size: 32px;
  color: #0ab896;
}
.contact_us_form input{
  height: 48px;
}
.contact_us_form input,.contact_us_form textarea{
  background: #FAFAFA;
  border: none;
  margin-bottom: 20px;
}
.contact_us_form button{
  width: 300px;
  padding: 14px;
  border: none;
  background-color: #0ab896;
  border-radius: 7px;
}
.contact_us_form .content_of_detail_contact{
  background-color: #FAFAFA;
  border-radius: 12px;
  max-height: 400px;
  overflow: hidden;
}
.contact_us_form .content_of_detail_contact h5{
  padding-top: 15px;
}
.contact_us_form .content_of_detail_contact span{
font-family: 'secoundFont';
}
/* end contact_us_form */
@media screen and (max-width: 567px) {
  .title_of_next_post{
    display: contents;
  }
}